#avatar_container
{
  background-color: red;
  position: relative;
  top: 100%;
  left:35%;
  width: 30%;
  height: 30%;
}

.layer
{
  display: flex;
  position: absolute;
  width: 30%;
  padding-top: 20vh;
  left: 35%;
}

#base_layer
{
  z-index: 0;
}

#body_layer
{
  z-index: 1;
}

#face_layer
{
  z-index: 2;
}

#hair_layer
{
  z-index: 3;
}
